

#register{
    background-color:rgb(251, 228, 153);
   
    color:rgb(20, 20, 19);
    margin-top: 150px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
    padding: 100px;
    
    

}

.errorMsg{
    padding:20px ;
}
.button{
    color: rgb(18, 17, 17);
    background-color: rgb(0, 168, 78);
   
    padding: 80px 250px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    
    
}
.select{
    padding: 80px 80px;
    border: 2px;
}